<?xml version="1.0"?>
<!--
/**
 * @category   Magegeeks
 * @package    Magegeeks_TwilioSMSOTP
 * @author     Magegeeks
 * @copyright  Copyright (c) 2014-2017 Magegeeks (https://www.magegeeks.in/)
 * @license    https://www.magegeeks.in/license.html
 * @contact    magegeeks@gmail.com
 */ 
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Magegeeks_TwilioSMSOTP::config_twiliosmsotp" title="Twilio General Configuration" sortOrder="50" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>